.two-equal {
  display: flex;
  background-color: lightgreen;
  border: 10px solid lightblue;
  gap: 10px;
  padding: 10px;
}
.two-equal div {
  background-color: brown;
  height: 50px;
  flex-grow: 1;
}

.three-equal {
  display: flex;
  background-color: lightgreen;
  border: 10px solid lightblue;
  gap: 15px;
  padding: 15px;
}
.three-equal div {
  background-color: brown;
  height: 50px;
  flex-grow: 1;
}

.three-unequal {
  display: flex;
  background-color: lightgreen;
  border: 10px solid lightblue;
  gap: 12px;
  padding: 12px;
}
.three-unequal div {
  background-color: brown;
  height: 50px;
  border: 2px solid black;
}
.three-unequal div:first-child {
  flex-grow: 2;
}
.three-unequal div:nth-child(2) {
  flex-grow: 1;
}
.three-unequal div:last-child {
  flex-grow: 1;
}

.four-equal {
  display: flex;
  background-color: lightgreen;
  height: 50px;
  gap: 12px;
  padding: 12px 12px 6px 12px;
}
.four-equal div {
  background-color: brown;
  flex-grow: 1;
  border: 2px solid black;
}

.footer {
  background-color: lightgreen;
  height: 50px;
  padding: 6px 12px 12px 12px;
}
.footer div {
  background-color: brown;
  height: 50px;
  border: 2px solid black;
}
.four-equal-footer {
  border: 10px lightblue;
}
